* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: rgba(196, 11, 144, 1);
    color: white;
    font-size: 30px;
    height: 50px;
}

nav {
    background-color: rgba(240, 116, 123, 1);
}

main {
    background-color: rgba(247, 7, 94, 0.4);
}


